.comment-container {
  background-color: var(--background-dark);
  margin: 0.5em;
  padding-block: 1.5em;
  border-radius: 10px;

  .comment {
    display: flex;
    width:80%;
    margin:auto;
    padding: 0.5em;
  }

  .title {
    font-size: 1.2em;
    font-weight: 600;

  }

  .posted-by {
    font-size: 0.8em;
    font-weight: 700;
  }
}
