.comment-button a {
    text-transform: uppercase;
    font-weight: 700;
    color:var(--primary-color);
}

.comment-button.btn{
    padding-block: .8em;
}

.text{
    padding-bottom: 1.5em;
}

.post-container{
    width: 100%;
}