$background-color: #fefefe;
$navbar-color: #217e80;
$undeline-color: #e84e4e;
$link-color: #fefefe;

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  position: fixed;
  top: 0;

  .logo {
    height: 100%;
    width: 70px;
    padding: 5px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: $link-color;
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-color: $undeline-color;
      }
    }

    .option.active {
      text-decoration: underline;
      text-decoration-thickness: 5px;
      text-decoration-color: $undeline-color;
    }
  }
}
